/* IMPORTING FONTS */
font-face {
  font-family: "Whitney Light";
  src: url(fonts/whitneylight.woff);
}
@font-face {
  font-family: "Whitney Medium";
  src: url(fonts/whitneymedium.woff);
}
@font-face {
  font-family: "Whitney Bold";
  src: url(fonts/whitneybold.woff);
}

/* CSS VAR FOR LIGHT MODE */
:root {
  /* FONT SIZE */
  --primary-font-size: 6rem;
  --secondary-font-size: 5rem;
  --general-font-size: 1.6rem;

  /* FONT FAMILY */
  --font-family-light: "Whitney Light", sans-serif;
  --font-family-medium: "Whitney Medium", sans-serif;
  --font-family-bold: "Whitney Bold", sans-serif;
  --section-spacing: 80%;

  /* COLORS */
  --only-white: #ccc;
  /* Section */
  --hero-text-clr: #777;
  --nav-clr: #f0f0f0;

  /* SECTION COLORS */
  --main-section: #eaeaea;
  --highlight-section: #fff6f6;
  --other-section: #fff;
  --footer-clr: #fff6f6;

  /* BORDER COLOR */
  --dull: #ccc;
  --border: #ccc;
  --border-shadow: #0000004d;

  /* TEXT COLOR */
  --text-clr: #333;
  --text-clr-rgba: rgba(0, 0, 0 0.7);
  --text-opp-clr: #fff;
  --brand-clr: #4f5d75;

  /* NORMAL COLOR */
  --sm-clr: #fff;
  --light-clr: #fff;
  --dark-clr: #333;

  /* IMG COLOR */
  --img-clr: brightness(0) invert(1);
  --img-opp-clr: brightness(0);

  /* MAYBE USABLE IN FUTURE */
  /* --brand-clr: #4f5d75; */
  /* #0000004d, #fff6f633 */
  /* --main-section-dark: #444;
  --highlight-section-dark: #333;
  --other-section-dark: #777; */
}

/* CSS VARIABLE FOR DARK MODE */
.dark-mode {
  /* COLORS */
  --bg-bd-clr: #393646;
  --sm-clr: slategray;
  --border-shadow: #fff6f633;
  --hero-text-clr: #ccc;
  --footer-clr: #333;
  --border: #fff;
  --dull: gray;
  --only-white: none;

  /* IMG COLOR */
  --img-clr: brightness(0);
  --img-opp-clr: brightness(0) invert(1);

  /* SECTION */
  --main-section: #27374d;
  --highlight-section: #393646;
  --other-section: #282a3a;

  --nav-clr: #27374d;

  /* NORMAL COLORS */
  --text-clr: #fff;
  --text-clr-rgba: rgba(255, 255, 255 0.7);
  --text-opp-clr: #333;
  --brand-clr: pink;
}

/* BASIC STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: var(--font-family-light);
}
body {
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

/* UTILITY CLASSES */
.hidden {
  transform: translateY(8rem);
  opacity: 0;
}
/* COLORS */
span {
  color: aliceblue;
}
.cl-white {
  color: #fff;
}
.brand-clr-main {
  /* color: #333; */
  color: var(--brand-clr);
  font-size: 6.8rem;
}
.brand-clr-side {
  color: var(--text-clr);
}
.brand-clr {
  /* color: #333; */
  color: var(--brand-clr);
  font-size: 5.2rem;
  border-bottom: 1px solid var(--brand-clr);
}
/* NAVBAR */
.sticky {
  width: 100%;
  position: fixed;
  z-index: 23;
  top: 0;
  left: 0;
  background-color: var(--nav-clr);
  border-bottom: 1px solid var(--dull);
}
/* VISIBILITY */
.d-none {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--border-shadow);
  filter: blur(14px);
  opacity: 0.8;
}
/* BUTTONS */
.btn:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
}
.btn-small {
  border-radius: 0.3rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.9rem;
  font-weight: 400;
}
.btn-light {
  border: 1px solid var(--text-clr);
  color: var(--text-clr);
}
.btn-light:hover {
  background: var(--text-clr);
  color: var(--text-opp-clr);
  transition: all 0.3s ease-in-out;
}
.btn-dark {
  border: 1px solid var(--text-clr);
  background-color: var(--text-clr);
  color: var(--text-opp-clr);
}
.btn-dark:hover {
  /* background: var(--text-opp-clr); */
  background: var(--other-section);
  color: var(--text-clr);
  transition: all 0.3s ease-in-out;
}
/* ROWS */
.row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TYPOGRAPHY */
.title {
  font-family: var(--font-family-bold);
}
/* MENU MOBILE */
.hamburger {
  display: none;
  cursor: pointer;
}
.line {
  cursor: pointer;
  display: block;
  height: 0.2rem;
  width: 2.6rem;
  background: var(--text-clr);
  margin: 0.8rem 0;
  cursor: pointer;
  display: none;
}
.close {
  display: none;
  cursor: pointer;
}
.line-cl {
  height: 2.8rem;
  cursor: pointer;
  width: 0.3rem;
  background: var(--text-clr);
  display: none;
}
.line-cl:nth-child(1) {
  transform: rotate(45deg);
}
.line-cl:nth-child(2) {
  transform: rotate(-45deg);
}

/* SECTION */
section {
  padding: 10rem 0;

  transition: transform 1s, opacity 1s;
}
.section-heading {
  font-size: var(--secondary-font-size);
  text-align: center;
  color: var(--text-clr);
}

/* HEADER SECTION */
.header {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(img/user-3.jpeg) no-repeat top center/cover; */
  background-color: var(--main-section);
  /* background-color: #84bc9c; */
  width: 100%;
  height: 100vh;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-clr);
  font-size: var(--general-font-size);
  padding: 1% 8%;
  box-shadow: 0 0 1.5rem var(--border-shadow);
}
.main-logo {
  width: 6rem;
  height: 6rem;
  border: 1px soild aliceblue;
  border-radius: 50%;
}
.nav-items-group {
  margin-left: auto;
}
.nav-items-group ul {
  display: flex;
}
.nav-list {
  list-style: none;
  margin: 0 1rem;
  position: relative;
}
.nav-link::before {
  content: "";
  background: var(--brand-clr);
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  margin: auto;
  height: 0.2rem;
  width: 0;
}
.nav-link {
  margin: 0 0.4rem;
  color: var(--text-clr);
  font-weight: 400;
  padding-bottom: 0.2rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.navbar .btn-small {
  z-index: 23;
}
.nav-right-btn {
  transition: all 0.3s ease-in-out;
}
.navbar .btn-out {
  margin: 0 4rem 0 1rem;
}
.mode-swap {
  border: 1px solid var(--text-clr);
  border-radius: 0.4rem;
  color: var(--text-clr);
  cursor: pointer;
}
.mode-swap-icon {
  width: 6rem;
  filter: var(--img-opp-clr);
  cursor: pointer;
}
.mode-swap:hover {
  background-color: var(--text-clr);
  transition: all 0.3s ease-in-out;
}
.mode-swap-icon:hover {
  filter: var(--img-clr);
}

/* HERO SECTION */

.heading-group {
  color: var(--dark-clr);
  position: relative;
  top: 25%;
  transform: translate(0, -25%);
  width: 80%;
  margin: 0 auto;
}
.row-center-wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.heading-wrapper {
  width: 100%;
}
.heading-wrapper img {
  box-shadow: 0 0 1.5rem var(--border-shadow);
}
.heading-group .col:nth-child(1) {
  width: 30%;
  margin-right: 4rem;
}
.heading-group .col:nth-child(2) {
  width: 75%;
}
.heading-img {
  width: 45rem;
  border: 1px solid white;
  border-radius: 50%;
}
.heading-heading {
  font-size: var(--primary-font-size);
}
.heading-description {
  font-size: var(--general-font-size);
  font-weight: 400;
  color: var(--hero-text-clr);
  margin-bottom: 2.4rem;
}
.col .heading-wrapper .btn-small {
  display: inline-block;
  /* margin-top: 2rem; */
}

/* .btn-main {
  color: var(--text-clr);
  border: 1px solid var(--text-clr);
}
.btn-main:hover {
  background-color: var(--text-clr);
  color: var(--text-opp-clr);
  transition: all 0.3s ease-in-out;
} */

/* PROJECT SECTION */
.project {
  background-color: var(--other-section);
}
.project .row-center-wrap {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
  justify-content: center;
  gap: 2rem;
  align-items: start;
}
.project-cols {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}
.project-col {
  background-color: var(--highlight-section);
  margin: 2rem 1rem;
  border: 1px solid var(--only-white);
  border-radius: 0.6rem;
}
.project-col:hover {
  /* box-shadow: 0 0 1.5rem #fff6f633; */
  box-shadow: 0 0 1.5rem var(--border-shadow);
  transform: translateY(-17px);
  transition: all 0.3s ease-in-out;
}
.project-wrapper {
  position: relative;
  width: 100%;
}
.img-wrapper {
  position: relative;
}
.img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* background-color: red; */
  background-color: rgba(255, 246, 246, 0.2);
}
.img-wrapper:hover::after {
  width: 100%;
}
.project-wrapper .project-img {
  width: 100%;
}
.project-img {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.project-textgroup {
  padding: 2rem 1.4rem;
}
.project-heading {
  font-size: 2.6rem;
  color: var(--brand-clr);
}
.project-description {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  color: var(--text-clr);
}
.project-btn {
  display: inline-block;
  margin-top: 2.4rem;
  font-size: 1.6rem;
  /* background-color: blue; */
}

/* SKILLS SECTION */
#skills {
  background-color: var(--highlight-section);
}
.skills .row {
  width: 80%;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 4rem 2rem;
  align-items: start;
}
.skill-line {
  position: absolute;
  height: 0.2rem;
  background: black;
  width: 100%;
}
.skill-col {
  display: flex;
  flex-direction: column;
}
.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-img {
  width: 5rem;
  border-radius: 0.3rem;
}
.skill-name {
  font-size: 2.2rem;
  margin-top: 2.4rem;
  color: var(--text-clr);
  font-weight: 400;
}

/* EDUCATION SECTION */

.education {
  background-color: var(--other-section);
}
.education-row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid #777;
  padding: 10rem 0 0 4rem;
  margin: 10rem auto 0;
  justify-content: space-between;
  align-items: start;
}
.education-col {
  margin-bottom: 10rem;
}
.degree-label {
  display: flex;
  align-items: center;
  position: relative;
}
.degree-icon {
  width: 7rem;
  margin-right: 0.6rem;
}
.degree {
  display: flex;
  flex-direction: column;
}
.degree-name {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--text-clr);
  font-family: var(--font-family-bold);
}
.degree-year {
  font-size: 1.4rem;
  margin-top: 0.4rem;
}
.degree-course-duration {
  margin: 1.5rem 0 0 8rem;
}
.degree-course-duration li {
  list-style: none;
  font-size: 1.6rem;
  color: var(--text-clr);
  margin: 1rem 0;
}

/* EDUCATION TIMELINE */
.dot {
  background-color: var(--text-clr);
  height: 2rem;
  transition: left 0.3s ease-in-out;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: -110px;
  left: 14px;
}
.disable {
  color: var(--dull);
}
.tick-done {
  color: green;
}
.tick-not-done {
  color: #ccc;
}
.dot-ny {
  background-color: #ccc;
}
.tick-done,
.tick-not-done,
.tick-current {
  padding: 0 0.5rem 0 0;
}
.tick-current {
  color: yellowgreen;
}
.ny {
  color: #ccc;
}

/* CONTACT SECTION */
.contact {
  background-color: var(--footer-clr);
  padding: 5rem 0 2rem;
}
.contact-row {
  width: 80%;
  margin: 0 auto;
}
.contact-col {
  padding: 10rem 0;
  width: 100%;
}
.contact-box {
  text-decoration: none;
  width: 80%;
  margin: 0 auto;
  border: 1px solid var(--border);
  /* background-color: #333; */
  background-color: var(--sm-clr);
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact-box-2 {
  position: relative;
  text-decoration: none;
  width: 80%;
  margin: 0.3rem auto;
  border: 1px solid var(--border);
  /* background-color: #333; */
  background-color: var(--sm-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-box-2 a:first-child {
  margin-right: 0.3rem;
}
.contact-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* background-color: white; */
  background-color: var(--text-clr);
  transition: all 0.3s ease-in-out;
}
.contact-box:hover::after {
  width: 100%;
}

.contact-box:hover .sm-id,
.contact-box:hover i {
  /* color: #4f5d75; */
  color: var(--text-opp-clr);
}
.contact-box:hover {
  border: 1px solid #ccc;
}
.contact-box i {
  /* color: #fff6f6; */
  color: var(--text-clr);
  font-size: 2rem;
  margin-right: 0.8rem;
  z-index: 2;
}

/* FOOTER SECTION */
.sm-id {
  z-index: 2;
  color: var(--text-clr);
  font-size: 2rem;
  font-weight: 600;
}
.footer {
  text-align: center;
  font-size: 1.6rem;
  color: var(--text-clr);
  font-weight: bold;
}

@media (min-width: 850px) {
  body {
    overflow-y: scroll;
  }
}

/* DEVICE WIDTH: 1024PX */
@media (max-width: 1024px) {
  /* CSS VAR */
  :root {
    --primary-font-size: 5rem;
    --secondary-font-size: 4rem;
  }

  /* HERO SECTION */
  .row-center-wrap {
    width: 90%;
  }
  .heading-group .col:nth-child(1) {
    width: 35%;
  }
  .heading-group .col:nth-child(2) {
    width: 65%;
  }
  .heading-img {
    width: 62rem;
  }
  .heading-description {
    font-size: var(--general-font-size);
  }
  /* .col .heading-wrapper .btn-main {
    font-size: var(--general-font-size);
  } */
  .brand-clr-main {
    font-size: var(--primary-font-size);
  }
  .brand-clr-side {
    font-size: var(--primary-font-size);
  }

  /* CONTACT SECTION */
  .contact-row {
    width: 100%;
  }

  /* EDUCATION SECTION */
  .education-row {
    border-top: none;
    border-left: 1px solid #777;
    display: flex;
    flex-direction: column;
  }
  /* EDUCATION TIMELINE */
  .dot {
    top: 21px;
    left: -50px;
  }
}

/* DEVICES WIDTH: 850PX */
@media (max-width: 850px) {
  /* CSS VAR */
  :root {
    --primary-font-size: 4rem;
    --secondary-font-size: 3.8rem;
    --general-font-size: 1.6rem;
  }

  /* UTILITY CLASSES */
  .d-none {
    display: block;
  }
  .d-m-none {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .line {
    display: block;
  }
  .close {
    display: inline-flex;
    padding: 1rem 1rem;
  }
  .line-cl {
    display: block;
  }

  /* NAVBAR */
  .nav-items-group {
    position: fixed;
    top: 0;
    left: -700px;
    width: 550px;
    height: 100vh;
    background: var(--highlight-section);
    z-index: 2;
    padding: 2rem 3rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    transition: all 0.3s ease-in-out;
  }
  .nav-items-group ul {
    display: block;
    margin-top: 5rem;
  }
  .nav-list {
    margin: 3rem 0;
  }
  .nav-link {
    color: var(--text-clr);
  }
  .nav-right-btn-2 {
    color: var(--text-clr);
    border: 1px solid var(--text-clr);
    display: inline-block;
    border-radius: 0.4rem;
  }
  .nav-right-btn-2:hover {
    background-color: var(--text-clr);
    color: var(--text-opp-clr);
  }

  /* HERO SECTION */
  .heading-group {
    top: 30%;
    transform: translate(0, -30%);
    width: 95%;
  }
  .row-center {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .row-center .col:nth-child(1) {
    margin: 0;
  }
  .row-center .col:nth-child(2) {
    margin-top: 2.4rem;
  }
  .row-center-wrap {
    width: 95%;
  }
  .heading-wrapper img {
    margin: 0 auto;
  }
  .heading-img {
    width: 25rem;
    margin-bottom: 3rem;
  }
  .heading-heading {
    margin-bottom: 0.4rem;
  }

  /* CONTACT SECTION */
  .contact-box-2 .contact-box:nth-child(1) {
    margin-bottom: 0.3rem;
    /* border-bottom: 1px solid var(--border); */
  }
  .contact-box-2 {
    width: 80%;
    flex-direction: column;
  }
  .contact-box-2 .contact-box {
    width: 100%;
  }
}

/* DEVICES WIDTH: 552PX */
@media (max-width: 552px) {
  /* UTILITY CLASSES */
  .section-heading {
    font-size: 4rem;
  }

  /* CONTACT SECTION */
  .contact-box {
    width: 90%;
  }
  .contact-box-2 {
    width: 90%;
  }

  /* FOOTER SECTION */
  .sm-id {
    font-size: 1.65em;
  }
}

/* DEVICES WIDTH: 404PX */
@media (max-width: 404px) {
  /* CSS VAR */
  :root {
    --primary-font-size: 3.2rem;
    --general-font-size: 1.4rem;
  }

  /* UTILITY CLASSES */
  .d-none {
    display: inline-block;
  }
  .brand-clr {
    font-size: var(--secondary-font-size);
  }

  /* NAVBAR  */
  .nav-right-btn {
    display: none;
  }
  .main-logo {
    margin: 0.3rem auto;
  }

  /* HERO SECTION */
  .heading-group {
    width: 90%;
  }
  .heading-description {
    margin-top: 1.2rem;
    font-size: var(--general-font-size);
  }
  .row-center .col {
    margin: 1.2rem auto;
  }
  .row-center .col:nth-child(1) {
    margin: 0;
    width: 100%;
  }
  .row-center .col:nth-child(2) {
    width: 100%;
  }
  .heading-wrapper img {
    margin: 0 auto;
    width: 15rem;
  }

  /* PROJECT SECTION */
  .project-col .project-btn {
    font-size: var(--general-font-size);
  }

  /* SKILLS SECTION */
  .skill-name {
    font-size: 1.8rem;
  }

  /* EDUCATION SECTION */
  .education-row {
    width: 90%;
    padding: 10rem 1rem;
  }
  .degree-icon {
    width: 5rem;
  }
  .degree-name {
    font-size: 1.8rem;
  }
  .degree-year {
    font-size: 1.3rem;
  }
  .degree-course-duration {
    margin: 1.5rem 0 0 2rem;
  }
  .degree-course-duration li {
    font-size: var(--general-font-size);
  }

  /* EDUCATION TIMELINE */
  .dot {
    left: -19px;
  }
}
